{% extends 'PiloteCoreBundle::piloteAdminLayout.html.twig' %}

{% block title %}Account creation{% endblock %}

{% block pageContent %}
<section class="pageContent accountCreation">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        {{ form_label(form.username, "Login", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
    {{ form_end(form) }}
    <a href="{{ path('fos_user_registration_register') }}">register that way</a>
</section>
{% endblock %}